USE [master]
GO
/****** Object:  Database [QuanLiKhachSan]    Script Date: 19/06/2018 6:24:57 CH ******/
CREATE DATABASE [QuanLiKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiKhachSan.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLiKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiKhachSan_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiKhachSan]
GO
/****** Object:  User [TK0003]    Script Date: 19/06/2018 6:24:57 CH ******/
CREATE USER [TK0003] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TK0001]    Script Date: 19/06/2018 6:24:57 CH ******/
CREATE USER [TK0001] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [TK0001]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [TK0001]
GO
/****** Object:  FullTextCatalog [congno]    Script Date: 19/06/2018 6:24:57 CH ******/
CREATE FULLTEXT CATALOG [congno]WITH ACCENT_SENSITIVITY = ON

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCTHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDCTHD]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MACTHD) FROM CHITIETHOADON)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MACTHD,4)) FROM CHITIETHOADON
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'CT000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'CT00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'CT0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'CT'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCV]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDCV]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MACHUCVU) FROM CHUCVU)=0
		SET @ID='0'
	ELSE 
		SELECT @ID=MAX(RIGHT(MACHUCVU,4)) FROM CHUCVU
		SELECT @ID=CASE
		WHEN @ID>=0 AND @ID<9 THEN 'CV000'+ CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=9 AND @ID<99 THEN 'CV00'+ CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=99 AND @ID<999 THEN 'CV0'+ CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=999 AND @ID<9999 THEN 'CV'+ CONVERT(CHAR,CONVERT(INT,@ID)+1)
		END
		RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDP]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDDP]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MADATPHONG) FROM DATPHONG)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MADATPHONG,4)) FROM DATPHONG
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'DP000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'DP00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'DP0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'DP'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDV]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDDV]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MADV) FROM DICHVU)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MADV,4)) FROM DICHVU
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'DV000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'DV00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'DV0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'DV'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDHD]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MAHD) FROM HOADON)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MAHD,4)) FROM HOADON
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'HD000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'HD00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'HD0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'HD'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKM]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDKM]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MAKM) FROM KHUYENMAI)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MAKM,4)) FROM KHUYENMAI
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'KM000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'KM00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'KM0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'KM'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 4)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9  and @ID < 99 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999 THEN 'KH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLICHLAMVIEC]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDLICHLAMVIEC]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF((SELECT COUNT(MALICHLAMVIEC) FROM LICHLAMVIEC)=0)
 SET @ID='0'
 ELSE
	SELECT @ID=MAX(RIGHT(MALICHLAMVIEC,4)) FROM LICHLAMVIEC
	SELECT @ID=CASE
	WHEN @ID>=0 AND @ID<9 THEN 'LV000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=9 AND @ID<99 THEN 'LV00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=99 AND @ID<999 THEN 'LV0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=999 AND @ID<9999 THEN 'LV'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	END
	RETURN @ID
END




GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLP]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDLP]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MALOAIPHONG) FROM LOAIPHONG)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MALOAIPHONG,4)) FROM LOAIPHONG
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<=9 THEN 'LP000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=10 AND @ID<=99 THEN 'LP00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=100 AND @ID<=999 THEN 'LP0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=1000 AND @ID<=9999 THEN 'LP'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END






GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNV]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF(SELECT COUNT(MANHANVIEN) FROM NHANVIEN)=0
	SET @ID='0'
	ELSE
	SELECT @ID=MAX(RIGHT(MANHANVIEN,4)) FROM NHANVIEN
	SELECT @ID=CASE
	WHEN @ID>=0 AND @ID<9 THEN 'NV000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=9 AND @ID<99 THEN 'NV00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=99 AND @ID<999 THEN 'NV0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	WHEN @ID>=999 THEN 'NV'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
	END
	RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDP]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDP]()
RETURNS VARCHAR(6)
AS
BEGIN
 DECLARE @ID VARCHAR(6)
 IF(SELECT COUNT(MAPHONG) FROM PHONG)=0
 SET @ID='0'
 ELSE
 SELECT @ID=MAX(RIGHT(MAPHONG,4)) FROM PHONG
 SELECT @ID=CASE
 WHEN @ID>=0 AND @ID<9 THEN 'PH000'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=9 AND @ID<99 THEN 'PH00'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=99 AND @ID<999 THEN 'PH0'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 WHEN @ID>=999 AND @ID<9999 THEN 'PH'+CONVERT(CHAR,CONVERT(INT,@ID)+1)
 END 
 RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTK]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTK]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(TENTAIKHOAN) FROM TAIKHOAN)=0
		SET @ID='0'
	ELSE 
		SELECT @ID=MAX(RIGHT(TENTAIKHOAN,4)) FROM TAIKHOAN
		SELECT @ID=CASE
		WHEN @ID>=0 AND @ID<9 THEN 'TK000'+ CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=9 AND @ID<99  THEN 'TK00' + CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=99 AND @ID<999  THEN 'TK0' + CONVERT(CHAR,CONVERT(INT,@ID)+1)
		WHEN @ID>=999 AND @ID<9999  THEN 'TK' + CONVERT(CHAR,CONVERT(INT,@ID)+1)
		END
		RETURN @ID
END





GO
/****** Object:  UserDefinedFunction [dbo].[trave]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[trave]()
returns int
as
begin
DECLARE @ID int
select @ID=
COUNT(dbid)
FROM    sys.sysprocesses
where DB_NAME(dbid)='QuanLiKhachSan'
and loginame='DESKTOP-71DBT3O\Dell'
GROUP BY dbid, loginame
ORDER BY DB_NAME(dbid)
return @id
end

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](6) NOT NULL,
	[MADATPHONG] [varchar](6) NOT NULL,
	[GHICHU] [nchar](50) NULL,
 CONSTRAINT [PK_CHITIETHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MADATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [varchar](6) NOT NULL CONSTRAINT [IDCV]  DEFAULT ([DBO].[AUTO_IDCV]()),
	[TENCHUCVU] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DatDichVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatDichVu](
	[madp] [nvarchar](6) NOT NULL,
	[madv] [varchar](6) NOT NULL,
	[SoLuong] [int] NULL,
	[ngayDung] [datetime] NOT NULL,
	[giadichvuhientai] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[madp] ASC,
	[madv] ASC,
	[ngayDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MADATPHONG] [nvarchar](6) NOT NULL DEFAULT ([DBO].[AUTO_IDDP]()),
	[MAPHONG] [varchar](6) NULL,
	[MAKH] [varchar](6) NULL,
	[TRATRUOC] [float] NULL,
	[NGAYO] [datetime] NULL,
	[NGAYDI] [datetime] NULL,
	[TrangThaiThanhToan] [bit] NULL DEFAULT ((0)),
	[GiaPhongHienTai] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](6) NOT NULL DEFAULT ([DBO].[AUTO_IDDV]()),
	[TENDV] [nvarchar](50) NULL,
	[GIADV] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](6) NOT NULL CONSTRAINT [DF__HOADON__MAHD__267ABA7A]  DEFAULT ([DBO].[AUTO_IDHD]()),
	[NGAYTHANHTOAN] [datetime] NOT NULL,
	[MAKH] [varchar](6) NOT NULL,
	[MANHANVIEN] [varchar](6) NOT NULL,
	[TIENPHONG] [float] NULL,
	[TIENDV] [float] NULL,
 CONSTRAINT [PK__HOADON__603F20CE66A3CF48] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KiemTraSuThayDoiDuLieu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemTraSuThayDoiDuLieu](
	[CHITIETHOADON] [int] NULL,
	[CHUCVU] [int] NULL,
	[DatDichVu] [int] NULL,
	[DatPhong] [int] NULL,
	[DICHVU] [int] NULL,
	[HOADON] [int] NULL,
	[KHACHHANG] [int] NULL,
	[LICHLAMVIEC] [int] NULL,
	[LOAIPHONG] [int] NULL,
	[NHANVIEN] [int] NULL,
	[PHONG] [int] NULL,
	[TAIKHOAN] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](6) NOT NULL CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_IDKH]()),
	[TENKH] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](50) NULL CONSTRAINT [DF__KHACHHANG__GIOIT__2A4B4B5E]  DEFAULT ((1)),
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODIENTHOAI] [int] NULL,
	[CHUNGMINHTHU] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHACHHAN__603F592CC3F67152] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[MALICHLAMVIEC] [varchar](6) NOT NULL,
	[NGAYLAMVIEC] [datetime] NOT NULL,
	[BUOI] [nvarchar](10) NOT NULL,
	[MANHANVIEN] [varchar](6) NOT NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[NGAYLAMVIEC] ASC,
	[BUOI] ASC,
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [varchar](6) NOT NULL DEFAULT ([DBO].[AUTO_IDLP]()),
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[THIETBI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](6) NOT NULL CONSTRAINT [DF__NHANVIEN__MANHAN__300424B4]  DEFAULT ([DBO].[AUTO_IDNV]()),
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACHUCVU] [varchar](6) NOT NULL,
	[SODIENTHOAI] [varchar](12) NOT NULL,
 CONSTRAINT [PK__NHANVIEN__7E46DD910B77C8E6] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](6) NOT NULL CONSTRAINT [DF__PHONG__MAPHONG__32E0915F]  DEFAULT ([DBO].[AUTO_IDP]()),
	[TENPHONG] [nvarchar](50) NOT NULL,
	[TINHTRANGPHONG] [int] NOT NULL CONSTRAINT [DF__PHONG__TINHTRANG__33D4B598]  DEFAULT ((1)),
	[MALOAIPHONG] [varchar](6) NOT NULL,
	[GIAPHONG] [float] NULL,
	[DONVITIENTE] [varchar](10) NOT NULL,
 CONSTRAINT [PK__PHONG__CE71B2524046ADAB] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [nvarchar](20) NOT NULL CONSTRAINT [DF__TAIKHOAN__TENTAI__36B12243]  DEFAULT ([DBO].[AUTO_IDTK]()),
	[PASS] [nvarchar](20) NOT NULL,
	[MACHUCVU] [varchar](6) NOT NULL,
	[MANHANVIEN] [varchar](6) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MADATPHONG], [GHICHU]) VALUES (N'HD0007', N'DP0001', N' ko có g?                                         ')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV0001', N'NHANVIEN')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV0002', N'QUANLY')
INSERT [dbo].[DatPhong] ([MADATPHONG], [MAPHONG], [MAKH], [TRATRUOC], [NGAYO], [NGAYDI], [TrangThaiThanhToan], [GiaPhongHienTai]) VALUES (N'DP0001', N'PH0002', N'KH0010', 120000, CAST(N'2018-06-19 00:00:00.000' AS DateTime), CAST(N'2018-06-19 00:00:00.000' AS DateTime), 1, 400000)
INSERT [dbo].[DatPhong] ([MADATPHONG], [MAPHONG], [MAKH], [TRATRUOC], [NGAYO], [NGAYDI], [TrangThaiThanhToan], [GiaPhongHienTai]) VALUES (N'DP0002', N'PH0002', N'KH0010', 960000, CAST(N'2018-06-29 00:00:00.000' AS DateTime), CAST(N'2018-07-07 00:00:00.000' AS DateTime), 0, 400000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV0001', N'BUFFE SÁNG', 450000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV0002', N'STING', 20000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV0003', N'ĂN TỐI', 50000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYTHANHTOAN], [MAKH], [MANHANVIEN], [TIENPHONG], [TIENDV]) VALUES (N'HD0001', CAST(N'2018-06-19 00:00:00.000' AS DateTime), N'KH0010', N'NV0003', 400000, 0)
INSERT [dbo].[HOADON] ([MAHD], [NGAYTHANHTOAN], [MAKH], [MANHANVIEN], [TIENPHONG], [TIENDV]) VALUES (N'HD0002', CAST(N'2018-06-19 00:00:00.000' AS DateTime), N'KH0010', N'NV0003', 400000, 0)
INSERT [dbo].[HOADON] ([MAHD], [NGAYTHANHTOAN], [MAKH], [MANHANVIEN], [TIENPHONG], [TIENDV]) VALUES (N'HD0003', CAST(N'2018-06-19 00:00:00.000' AS DateTime), N'KH0010', N'NV0003', 400000, 0)
INSERT [dbo].[KiemTraSuThayDoiDuLieu] ([CHITIETHOADON], [CHUCVU], [DatDichVu], [DatPhong], [DICHVU], [HOADON], [KHACHHANG], [LICHLAMVIEC], [LOAIPHONG], [NHANVIEN], [PHONG], [TAIKHOAN]) VALUES (1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [DIACHI], [SODIENTHOAI], [CHUNGMINHTHU]) VALUES (N'KH0010', N'THihn', N'nu', CAST(N'1997-03-24 00:00:00.000' AS DateTime), N'HCM', 42232, N'331122')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [THIETBI]) VALUES (N'LP0001', N'loại tiêu chuẩn', N'tiêu chuẩn')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [THIETBI]) VALUES (N'LP0002', N'loại thương gia', N'tiêu chuẩn,tủ lạnh')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [THIETBI]) VALUES (N'LP0003', N'loại doanh nhân', N'tiêu chuẩn,tủ lạnh,bình nước lọc nóng lạnh,lan can')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [DIACHI], [MACHUCVU], [SODIENTHOAI]) VALUES (N'NV0003', N'HUY', N'Nam', CAST(N'1997-01-01 00:00:00.000' AS DateTime), N'HUY', N'CV0002', N'123')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [DIACHI], [MACHUCVU], [SODIENTHOAI]) VALUES (N'NV0004', N'HUY', N'Nam', CAST(N'1997-01-01 00:00:00.000' AS DateTime), N'BAY', N'CV0002', N'123')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [DIACHI], [MACHUCVU], [SODIENTHOAI]) VALUES (N'NV0005', N'HUY', N'Nam', CAST(N'1997-01-01 00:00:00.000' AS DateTime), N'BAY', N'CV0002', N'123')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANGPHONG], [MALOAIPHONG], [GIAPHONG], [DONVITIENTE]) VALUES (N'PH0002', N'phòng đơn', 2, N'LP0001', 400000, N'VND')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANGPHONG], [MALOAIPHONG], [GIAPHONG], [DONVITIENTE]) VALUES (N'PH0004', N'phòng ba', 1, N'LP0001', 900000, N'VND')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANGPHONG], [MALOAIPHONG], [GIAPHONG], [DONVITIENTE]) VALUES (N'PH0005', N'phòng 1 giường lớn', 1, N'LP0001', 300000, N'VND')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [PASS], [MACHUCVU], [MANHANVIEN]) VALUES (N'TK0001', N'ADMIN', N'CV0002', N'NV0003')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [PASS], [MACHUCVU], [MANHANVIEN]) VALUES (N'TK0003', N'NHANVIEN', N'CV0001', N'NV0003')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [PASS], [MACHUCVU], [MANHANVIEN]) VALUES (N'TK0004', N'NHANVIEN', N'CV0001', N'NV0019')
ALTER TABLE [dbo].[LICHLAMVIEC] ADD  CONSTRAINT [DF__LICHLAMVI__MALIC__38996AB5]  DEFAULT ([DBO].[AUTO_IDLICHLAMVIEC]()) FOR [MALICHLAMVIEC]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHOA__MAHD__3A81B327] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK__CHITIETHOA__MAHD__3A81B327]
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([madp])
REFERENCES [dbo].[DatPhong] ([MADATPHONG])
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([madv])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MAKH__3D5E1FD2] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MAKH__3D5E1FD2]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MANHANVI__3E52440B] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MANHANVI__3E52440B]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK__LICHLAMVI__MANHA__797309D9] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK__LICHLAMVI__MANHA__797309D9]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK__NHANVIEN__MACHUC__3F466844] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK__NHANVIEN__MACHUC__3F466844]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK__PHONG__MALOAIPHO__403A8C7D] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK__PHONG__MALOAIPHO__403A8C7D]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MACHUC__412EB0B6] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MACHUC__412EB0B6]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MANHAN__4222D4EF] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MANHAN__4222D4EF]
GO
/****** Object:  StoredProcedure [dbo].[CongNo]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CongNo]
as
begin
select distinct MADATPHONG as[Mã Đặt Phòng],Sum(TRATRUOC) as [Trả Trước],KHACHHANG.* from DATPHONG
inner join KHACHHANG on KHACHHANG.MAKH=DATPHONG.MAKH
group by MADATPHONG,KHACHHANG.CHUNGMINHTHU,KHACHHANG.DIACHI,KHACHHANG.GIOITINH,KHACHHANG.MAKH
,KHACHHANG.NGAYSINH,KHACHHANG.SODIENTHOAI,KHACHHANG.TENKH
end




GO
/****** Object:  StoredProcedure [dbo].[DanhSachDatDichVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DanhSachDatDichVu]
@madatphong nvarchar(6)
as
begin
select A.madp,DICHVU.TENDV,A.SoLuong,A.ngayDung,A.giadichvuhientai from DatDichVu A
inner join DICHVU on DICHVU.MADV=A.madv
where A.madp=@madatphong
end


GO
/****** Object:  StoredProcedure [dbo].[DanhSachDatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DanhSachDatPhong]
as
begin
select *   from DATPHONG
end



GO
/****** Object:  StoredProcedure [dbo].[DanhSachDatPhongCoCacPhongDangDuocGiu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhSachDatPhongCoCacPhongDangDuocGiu]
as
begin
select DATPHONG.*,TINHTRANGPHONG
 from DATPHONG inner join PHONG on DATPHONG.MAPHONG=phong.MAPHONG
 where PHONG.TINHTRANGPHONG=3
end




GO
/****** Object:  StoredProcedure [dbo].[DanhSachDatPhongChuaThanhToan]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhSachDatPhongChuaThanhToan]
as
begin
select * from DatPhong where TrangThaiThanhToan<>1
end


GO
/****** Object:  StoredProcedure [dbo].[DanhSachDatPhongVaocbb]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhSachDatPhongVaocbb]
as
begin
select DISTINCT  MADATPHONG from DATPHONG
end




GO
/****** Object:  StoredProcedure [dbo].[DanhSachNhanVien]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DanhSachNhanVien]
@tentaikhoan varchar(6),
@tennhanvien nvarchar(20)
as
BEGIN
select TENTAIKHOAN , TENNHANVIEN , SODIENTHOAI ,
 NHANVIEN.MACHUCVU from NHANVIEN inner join 
 TAIKHOAN on NHANVIEN.MANHANVIEN = TAIKHOAN.MANHANVIEN
 where TENTAIKHOAN=@tentaikhoan
 or TENNHANVIEN=@tennhanvien
END




GO
/****** Object:  StoredProcedure [dbo].[DanhSachPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DanhSachPhong]
as
begin
SELECT        MAPHONG, TENPHONG, TINHTRANGPHONG, MALOAIPHONG, GIAPHONG, DONVITIENTE
FROM            dbo.PHONG
end


GO
/****** Object:  StoredProcedure [dbo].[DANHSACHPHONGTHEOMA]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANHSACHPHONGTHEOMA]
@ID NVARCHAR(6)
AS
BEGIN
SELECT * FROM PHONG WHERE MAPHONG=@ID
END




GO
/****** Object:  StoredProcedure [dbo].[DeleteCTHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DeleteCTHD(string mahd)
create proc [dbo].[DeleteCTHD]
@mahd varchar(6)
as
begin
delete from CHITIETHOADON where MAHD=@mahd
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteDatDV]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DeleteDatDV(string maDP)
create proc [dbo].[DeleteDatDV]
@madp varchar(6)
as
begin
delete from DatDichVu where madp=@madp
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteDatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DeleteDatPhong(string madatphong)
create proc [dbo].[DeleteDatPhong]
@madp varchar(6)
as
begin
delete from DATPHONG where MADATPHONG=@madp
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteHD_mahd_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DeleteHD(mahd)
create proc [dbo].[DeleteHD_mahd_bay]
@mahd varchar(6)
as begin
delete from HOADON where MAHD=@mahd
end

GO
/****** Object:  StoredProcedure [dbo].[DemSoPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DemSoPhong]
@madatphong nvarchar(6)
as
begin
select COUNT(*) as[sophong] from DATPHONG 
where MADATPHONG=@madatphong
group by MADATPHONG
end




GO
/****** Object:  StoredProcedure [dbo].[DSCTHD_FromMHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- DSCTHD_FromMHD(string maHD)
create proc [dbo].[DSCTHD_FromMHD]
@maHD varchar(6)
as begin
select CHITIETHOADON.MADATPHONG  as[Mã đặt phòng],phong.MAPHONG as [Mã phòng] ,PHONG.TENPHONG as [Tên Phòng] from CHITIETHOADON join HOADON on HOADON.MAHD=CHITIETHOADON.MAHD join KHACHHANG on KHACHHANG.MAKH=HOADON.MAKH join DatPhong on KHACHHANG.MAKH=DatPhong.MAKH join PHONG on phong.maphong=datphong.maphong  where CHITIETHOADON.MAHD =@maHD group by KHACHHANG.MAKH,CHITIETHOADON.MADATPHONG ,PHONG.MAPHONG ,DatPhong.MADATPHONG,PHONG.TENPHONG having CHITIETHOADON.MADATPHONG = DatPhong.MADATPHONG
end

GO
/****** Object:  StoredProcedure [dbo].[dsMAHD_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[dsMAHD_bay]
as begin
select MAHD from HOADON
end

GO
/****** Object:  StoredProcedure [dbo].[getHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--getHD
create proc [dbo].[getHD]
as begin
 select HOADON.MAHD [Mã Hóa Đơn],KHACHHANG.TENKH [Tên Khách Hàng],HOADON.NGAYTHANHTOAN [ngày Thanh Toán],TIENDV [Tiền Dịch Vụ],TIENPHONG [Tiền Phòng],TIENPHONG+TIENDV as [Tổng Tiền]from HOADON join CHITIETHOADON on HOADON.MAHD= CHITIETHOADON.MAHD join KHACHHANG on KHACHHANG.MAKH = HOADON.MAKH group by  HOADON.MAHD, KHACHHANG.TENKH, HOADON.NGAYTHANHTOAN, TIENDV, TIENPHONG order by HOADON.MAHD desc 
end

GO
/****** Object:  StoredProcedure [dbo].[getHD_date1_date2]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--getHD(date1,date2)
create proc [dbo].[getHD_date1_date2]
@date1 datetime,@date2 datetime
as begin
select HOADON.MAHD [Mã Hóa Đơn],KHACHHANG.TENKH [Tên Khách Hàng],HOADON.NGAYTHANHTOAN [ngày Thanh Toán],TIENDV [Tiền Dịch Vụ],TIENPHONG [Tiền Phòng],TIENPHONG+TIENDV as [Tổng Tiền]from HOADON join CHITIETHOADON on HOADON.MAHD= CHITIETHOADON.MAHD join KHACHHANG on KHACHHANG.MAKH = HOADON.MAKH   where NGAYTHANHTOAN >=@date1 and NGAYTHANHTOAN <= @date2 group by  HOADON.MAHD, KHACHHANG.TENKH, HOADON.NGAYTHANHTOAN, TIENDV, TIENPHONG  order by HOADON.MAHD desc
end

GO
/****** Object:  StoredProcedure [dbo].[HienThiDanhSachDatPhongMaPhongTuongUng]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HienThiDanhSachDatPhongMaPhongTuongUng]
@madatphong nvarchar(6),
@maphong nvarchar(6)
as
begin
select * from DATPHONG where MADATPHONG=@madatphong and MAPHONG=@maphong
end




GO
/****** Object:  StoredProcedure [dbo].[HienTHiDanhSachPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HienTHiDanhSachPhong]
as 
begin
select * from phong
end




GO
/****** Object:  StoredProcedure [dbo].[hienthikhachhang_bongma]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[hienthikhachhang_bongma]
as
begin
begin tran declare @tong int; set @tong=(select count(MAKH) from KHACHHANG); waitfor delay '00:00:10' if @tong=0 raiserror('Danh sách tr?ng!',16,1) else begin select * from KHACHHANG end commit tran
end

GO
/****** Object:  StoredProcedure [dbo].[hienthikhachhang_fix_bongma]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[hienthikhachhang_fix_bongma]
as
begin
begin tran set tran isolation level serializable declare @tong int; set @tong=(select count(MAKH) from KHACHHANG); waitfor delay '00:00:10' if @tong=0 raiserror('Danh sách tr?ng!',16,1) else begin select * from KHACHHANG end commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[hienthikhachhang_Fix_Repeatable]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[hienthikhachhang_Fix_Repeatable]
as
begin
begin tran set tran isolation level repeatable read declare @tong int; set @tong=(select count(MAKH) from KHACHHANG); waitfor delay '00:00:10' if @tong=0 raiserror('Danh sách tr?ng!',16,1) else begin select * from KHACHHANG end commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[hienthikhachhang_Repeatable]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[hienthikhachhang_Repeatable]
as
begin
begin tran declare @tong int; set @tong=(select count(MAKH) from KHACHHANG); waitfor delay '00:00:10' if @tong=0 raiserror('Danh sách tr?ng!',16,1)else begin select * from KHACHHANG end commit tran
end

GO
/****** Object:  StoredProcedure [dbo].[LAYDANHSACHPHONGTHEOLOAIPHONGVATINHTRANG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LAYDANHSACHPHONGTHEOLOAIPHONGVATINHTRANG]
@MALOAIPHONG VARCHAR(6)
AS
BEGIN
SELECT * FROM PHONG WHERE PHONG.MALOAIPHONG=@MALOAIPHONG 
END




GO
/****** Object:  StoredProcedure [dbo].[LayMANV_max]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayMANV_max]
as
begin
SELECT Max(MANHANVIEN) as LastID FROM NHANVIEN
end


GO
/****** Object:  StoredProcedure [dbo].[LayPhongTheoMaLoaiPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LayPhongTheoMaLoaiPhong]
 @id nvarchar(6)
as
begin
select * from PHONG where MALOAIPHONG=@id;
end




GO
/****** Object:  StoredProcedure [dbo].[NgayThanhToanMoiNhat_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--NgayThanhToanMoiNhat
create proc [dbo].[NgayThanhToanMoiNhat_bay]

as begin
select top(1) NGAYTHANHTOAN  from HOADON order by NGAYTHANHTOAN 
end

GO
/****** Object:  StoredProcedure [dbo].[RemovePhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RemovePhong]
@maphong nvarchar(6)
as
begin
delete PHONG
where MAPHONG=@maphong
end





GO
/****** Object:  StoredProcedure [dbo].[Sua_LichLamViec]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[Sua_LichLamViec]
  @MaLLV nchar(6),
  @NGAYLAMVIEC	datetime   ,
@BUOI	nvarchar(10)   ,
@MANHANVIEN	varchar(6)
	as
	begin
UPDATE       LICHLAMVIEC
SET                NGAYLAMVIEC =@NGAYLAMVIEC, BUOI =@BUOI, MANHANVIEN =@MANHANVIEN 
where MALICHLAMVIEC=@MaLLV
	end


GO
/****** Object:  StoredProcedure [dbo].[SuaChucVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaChucVu]
@MaCV nchar(6),
@TENCHUCVU nvarchar(20)	
as
begin
UPDATE       CHUCVU
SET                TENCHUCVU =@TENCHUCVU
where MACHUCVU=@MaCV
end


GO
/****** Object:  StoredProcedure [dbo].[SuaKhachHang]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaKhachHang]
@makh varchar(6),
@TENKH	nvarchar(50),
@GIOITINH	nvarchar(50),
@NGAYSINH	datetime,
@DIACHI	nvarchar(100),
@SODIENTHOAI	int,
@CHUNGMINHTHU	nvarchar(50)	
as
begin
Update KHACHHANG
set TENKH=@TENKH,
GIOITINH=@GIOITINH,
NGAYSINH=@NGAYSINH,
DIACHI=@DIACHI,
SODIENTHOAI=@SODIENTHOAI,
CHUNGMINHTHU=@CHUNGMINHTHU
where MAKH=@makh
end



GO
/****** Object:  StoredProcedure [dbo].[SuaNhanVien_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SuaNhanVien_thinh]
@MANHANVIEN nchar(6),
@TENNHANVIEN	nvarchar(50),
@GIOITINH	nvarchar(10),
@NGAYSINH	datetime	,
@DIACHI	nvarchar(100)	,
@MACHUCVU	varchar(6)	,
@SODIENTHOAI	varchar(12)
as
begin
UPDATE       NHANVIEN
SET                TENNHANVIEN =@TENNHANVIEN, GIOITINH =@GIOITINH, NGAYSINH =@NGAYSINH, MACHUCVU =@MACHUCVU, DIACHI =@DIACHI, SODIENTHOAI =@SODIENTHOAI
WHERE MANHANVIEN=@MANHANVIEN
end


GO
/****** Object:  StoredProcedure [dbo].[SuaSoLuongDatDichVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SuaSoLuongDatDichVu]
@madp	varchar(6),
@madv	varchar(6),
@SoLuong	int,
@ngayDung	datetime,
@giadichvuhientai float	
as
begin
update DatDichVu
set SoLuong=@SoLuong,giadichvuhientai=@giadichvuhientai
where madp=@madp and madv=@madv and ngayDung=@ngayDung
end



GO
/****** Object:  StoredProcedure [dbo].[SuaTK_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaTK_thinh]
@PASS	nvarchar(20)   ,
@MANHANVIEN	varchar(6)	
as
begin
UPDATE       TAIKHOAN
SET                 PASS =@PASS
FROM            NHANVIEN INNER JOIN TAIKHOAN ON NHANVIEN.MANHANVIEN = TAIKHOAN.MANHANVIEN 
WHERE NHANVIEN.MANHANVIEN=@MANHANVIEN
end


GO
/****** Object:  StoredProcedure [dbo].[TimCongNo]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimCongNo]
@cmt nvarchar(50)
as
begin
select distinct MADATPHONG as[Mã Đặt Phòng],Sum(TRATRUOC) as [Trả Trước],KHACHHANG.* from DATPHONG
inner join KHACHHANG on KHACHHANG.MAKH=DATPHONG.MAKH 
where CHUNGMINHTHU like '%'+@cmt+'%'
group by MADATPHONG,KHACHHANG.CHUNGMINHTHU,KHACHHANG.DIACHI,KHACHHANG.GIOITINH,KHACHHANG.MAKH
,KHACHHANG.NGAYSINH,KHACHHANG.SODIENTHOAI,KHACHHANG.TENKH
end




GO
/****** Object:  StoredProcedure [dbo].[TimCTHD_tuMAHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--TimCTHD_tuMAHD(string maHD)
create proc [dbo].[TimCTHD_tuMAHD]
@maHD varchar(6)
as begin
select * from CHITIETHOADON where MAHD=@maHD
end

GO
/****** Object:  StoredProcedure [dbo].[TimDatPhongTHeoMa]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TimDatPhongTHeoMa]
@madp NVARCHAR(6)
as
begin
select *   from DATPHONG WHERE MADATPHONG=@madp
end




GO
/****** Object:  StoredProcedure [dbo].[TimHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TimHD]
@mahd nvarchar(6)
as
begin
select MAHD [Mã Hóa Đơn],TENKH [Tên Khách Hàng],NGAYTHANHTOAN [Ngày Thanh Toán],TIENDV [Tiền Dịch Vụ],TIENPHONG [Tiền Phòng],TIENPHONG+TIENDV as [Tổng Tiền] from HOADON,KHACHHANG where MAHD=@mahd and HOADON.MAKH=KHACHHANG.MAKH
end


GO
/****** Object:  StoredProcedure [dbo].[TimKH]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimKH]
@id varchar(6)
as
begin
select * from KHACHHANG where MAKH=@id
end




GO
/****** Object:  StoredProcedure [dbo].[TimKH_tuMAHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TimKH_tuMAHD(string maHD)
create proc [dbo].[TimKH_tuMAHD]
@mahd varchar(6)
as
begin
select kh.* from KHACHHANG kh join HOADON hd on hd.MAKH = kh.MAKH where MAHD = @mahd
end

GO
/****** Object:  StoredProcedure [dbo].[TimKH_tuMAPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TimKH_tuMAPHONG(string maPhong)
create proc [dbo].[TimKH_tuMAPHONG]
@maph varchar(6)
as
begin
select kh.* from PHONG p join DatPhong dp on p.MAPHONG = dp.MAPHONG join KHACHHANG kh on kh.MAKH = dp.MAKH where p.MAPHONG = @maph and dp.TrangThaiThanhToan = 0 
end

GO
/****** Object:  StoredProcedure [dbo].[TimKHTheoCMND]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimKHTheoCMND]
@cmnd nvarchar(50)
as
begin
select * from KHACHHANG WHERE CHUNGMINHTHU=@cmnd
end




GO
/****** Object:  StoredProcedure [dbo].[TimMAHDVuaTao_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TimMAHDVuaTao
create proc [dbo].[TimMAHDVuaTao_bay]

as begin
select top(1) *  from HOADON order by MAHD desc
end

GO
/****** Object:  StoredProcedure [dbo].[TimMDP_madp]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CHI TIET HOA DON
--TimMDP_madp
create proc [dbo].[TimMDP_madp]
@madp varchar(6)
as begin
select * from DATPHONG where MADATPHONG=@madp
end

GO
/****** Object:  StoredProcedure [dbo].[TimMDP_tuMAHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TimMDP_tuMAHD(string mahd)
create proc [dbo].[TimMDP_tuMAHD]
@mahd varchar(6)
as begin
select MADATPHONG from CHITIETHOADON  where MAHD=@mahd
end

GO
/****** Object:  StoredProcedure [dbo].[TimMDP_tuMAPH]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TimMDP_tuMAPH(string maPH)
create proc [dbo].[TimMDP_tuMAPH]
@maPH varchar(6)
as begin
select * from DatPhong where MAPHONG=@maPH and TrangThaiThanhToan=0
end

GO
/****** Object:  StoredProcedure [dbo].[TimPhongCoTrongDatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimPhongCoTrongDatPhong]
@maPhong varchar(6)
as
begin
select * from DATPHONG
where MAPHONG=@maPhong
end




GO
/****** Object:  StoredProcedure [dbo].[ToanBoDanhSachNhanVien]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ToanBoDanhSachNhanVien]
as
begin
select * from NHANVIEN
end




GO
/****** Object:  StoredProcedure [dbo].[ttTienPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ttTienPhong(string maPH)
create proc [dbo].[ttTienPhong]
@maph varchar(6)
as begin
select dp.MAPHONG [Mã Phòng],dp.GiaPhongHienTai [Giá Phòng],dp.NGAYO [Ngày Ở],dp.NGAYDI [Ngày Đi],case when ( DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI)=0)then 1 else DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI) end as [Số Ngày Ở]  ,dp.GiaPhongHienTai*case when ( DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI)=0)then 1 else DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI) end  [Thành Tiền] from DATPHONG dp join PHONG p on dp.MAPHONG = p.MAPHONG where p.MAPHONG = @maph and dp.TrangThaiThanhToan = 0 and dp.NGAYO<= getdate()
end

GO
/****** Object:  StoredProcedure [dbo].[ttTienPhong_tuMADP]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ttTienPhong_tuMADP(string maDP)
create proc [dbo].[ttTienPhong_tuMADP]
@madp varchar(6)
as begin
select dp.MAPHONG [Mã Phòng],dp.GiaPhongHienTai [Giá Phòng],dp.NGAYO [Ngày Ở],dp.NGAYDI [Ngày Đi],case when ( DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI)=0)then 1 else DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI) end as [Số Ngày Ở]  ,dp.GiaPhongHienTai*case when ( DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI)=0)then 1 else DATEDIFF(DAY,dp.NGAYO,dp.NGAYDI) end  [Thành Tiền] from DATPHONG dp  where dp.MADATPHONG = @madp and dp.TrangThaiThanhToan = 1
end

GO
/****** Object:  StoredProcedure [dbo].[Them_LichlamViec]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[Them_LichlamViec]

@NGAYLAMVIEC	datetime   ,
@BUOI	nvarchar(10)   ,
@MANHANVIEN	varchar(6)
	
  as
  begin
INSERT INTO LICHLAMVIEC
                         (MANHANVIEN, BUOI, NGAYLAMVIEC)
VALUES        (@MANHANVIEN,@BUOI,@NGAYLAMVIEC)
  end


GO
/****** Object:  StoredProcedure [dbo].[ThemCTHD]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ThemCTHD(string mahd,string madp,string ghichu)
create proc [dbo].[ThemCTHD]
@mahd varchar(6),
@madp varchar(6),
@ghichu nchar(50)
as
begin
INSERT INTO CHITIETHOADON VALUES(@mahd,@madp,@ghichu)
end

GO
/****** Object:  StoredProcedure [dbo].[ThemChucVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemChucVu]
@TENCHUCVU	nvarchar(20)
	
as
begin
INSERT INTO CHUCVU
                         (TENCHUCVU)
VALUES        (@TENCHUCVU)
end


GO
/****** Object:  StoredProcedure [dbo].[ThemDatDichVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemDatDichVu]
@madp	varchar(6),
@madv	varchar(6),
@SoLuong	int,
@ngayDung	datetime,
@giadichvuhientai float	
as
begin
insert into DatDichVu
values(@madp,
@madv,
@SoLuong,
@ngayDung,
@giadichvuhientai
)
end


GO
/****** Object:  StoredProcedure [dbo].[ThemDatPhongGiuPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemDatPhongGiuPhong]
@MAPHONG	varchar(6)      ,
@MAKH	varchar(6)		,
@TRATRUOC	float		,
@NGAYO	datetime		,
@NGAYDI	datetime	
as
begin
insert into DATPHONG(
MAPHONG              ,
MAKH				 ,
TRATRUOC			 ,
NGAYO				 ,
NGAYDI				
)
values(
@MAPHONG  ,
@MAKH	,
@TRATRUOC,
@NGAYO		 ,
@NGAYDI		 
)

update DATPHONG
set GiaPhongHienTai=PHONG.GIAPHONG
from PHONG
inner join DATPHONG on PHONG.MAPHONG=DATPHONG.MAPHONG
end




GO
/****** Object:  StoredProcedure [dbo].[ThemDatPhongOLien]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemDatPhongOLien]
@MAPHONG	varchar(6)      ,
@MAKH	varchar(6)		,
@TRATRUOC	float		,
@NGAYO	datetime		,
@NGAYDI	datetime		
as
begin
insert into DATPHONG(
MAPHONG              ,
MAKH				 ,
TRATRUOC			 ,
NGAYO				 ,
NGAYDI				 )
values(
@MAPHONG  ,
@MAKH	,
@TRATRUOC,
@NGAYO		 ,
@NGAYDI		 

)
update PHONG
set TINHTRANGPHONG=2
where PHONG.MAPHONG=@MAPHONG
update DATPHONG
set GiaPhongHienTai=PHONG.GIAPHONG
from PHONG
inner join DATPHONG on PHONG.MAPHONG=DATPHONG.MAPHONG
end




GO
/****** Object:  StoredProcedure [dbo].[themHD_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--them hoa don
create proc [dbo].[themHD_bay]
@date datetime,@makh varchar(6),@manv varchar(6),@tienphong float,@tiendv float
as begin
INSERT INTO HOADON VALUES(DBO.AUTO_IDHD(),@date,@makh,@manv,@tienphong,@tiendv)
end

GO
/****** Object:  StoredProcedure [dbo].[ThemKhachHang_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhachHang_thinh]
@TENKH	nvarchar(50),
@GIOITINH	nvarchar(50),
@NGAYSINH	datetime,
@DIACHI	nvarchar(100),
@SODIENTHOAI	int,
@CHUNGMINHTHU	nvarchar(50)	
as
begin
--transaction isolation level read committed
begin transaction
INSERT KHACHHANG(
TENKH,
GIOITINH,
NGAYSINH,
DIACHI,
SODIENTHOAI,
CHUNGMINHTHU
)
values(@TENKH,
@GIOITINH,
@NGAYSINH,
@DIACHI,
@SODIENTHOAI,
@CHUNGMINHTHU)
waitfor delay '00:00:10';
declare @tuoi int =DATEDIFF(year,@NGAYSINH,GETDATE());
if @tuoi < 18
begin
raiserror('l?i',16,1)
rollback transaction
RETURN
end
commit transaction
end

GO
/****** Object:  StoredProcedure [dbo].[ThemKhachHangVaoDanhSach]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhachHangVaoDanhSach]
@TENKH	nvarchar(50),
@GIOITINH	nvarchar(50),
@NGAYSINH	datetime,
@DIACHI	nvarchar(100),
@SODIENTHOAI	int,
@CHUNGMINHTHU	nvarchar(50)	
as
begin
INSERT KHACHHANG(
TENKH,
GIOITINH,
NGAYSINH,
DIACHI,
SODIENTHOAI,
CHUNGMINHTHU
)
values(@TENKH,
@GIOITINH,
@NGAYSINH,
@DIACHI,
@SODIENTHOAI,
@CHUNGMINHTHU)
end




GO
/****** Object:  StoredProcedure [dbo].[ThemNhanVien_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemNhanVien_thinh]
@TENNHANVIEN	nvarchar(50),
@GIOITINH	nvarchar(10),
@NGAYSINH	datetime	,
@DIACHI	nvarchar(100)	,
@MACHUCVU	varchar(6)	,
@SODIENTHOAI	varchar(12)
as
begin
INSERT INTO NHANVIEN
                         (GIOITINH, NGAYSINH, TENNHANVIEN, DIACHI, MACHUCVU, SODIENTHOAI)
VALUES        (@GIOITINH,@NGAYSINH,@TENNHANVIEN,@DIACHI,@MACHUCVU,@SODIENTHOAI)
end



GO
/****** Object:  StoredProcedure [dbo].[THEMPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMPHONG]
@TENPHONG nvarchar(50),
@MALOAIPHONG varchar(6),
@GIAPHONG float,
@DONVITIENTE varchar(10)
AS
BEGIN
INSERT PHONG(TENPHONG,MALOAIPHONG,GIAPHONG,DONVITIENTE)
VALUES(@TENPHONG,@MALOAIPHONG,@GIAPHONG,@DONVITIENTE)
END




GO
/****** Object:  StoredProcedure [dbo].[ThemSoLuongDatDichVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemSoLuongDatDichVu]
@madp	varchar(6),
@madv	varchar(6),
@SoLuong	int,
@ngayDung	datetime,
@giadichvuhientai float
	
as
begin
update DatDichVu
set SoLuong=SoLuong+@SoLuong,
giadichvuhientai=@giadichvuhientai
where madp=@madp and madv=@madv and ngayDung=@ngayDung
end



GO
/****** Object:  StoredProcedure [dbo].[ThemTK_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemTK_thinh]
@PASS	nvarchar(20)   ,
@MACHUCVU	varchar(6) ,
@MANHANVIEN	varchar(6)	
as
begin
INSERT INTO TAIKHOAN
                         (PASS, MACHUCVU, MANHANVIEN)
VALUES        (@PASS,@MACHUCVU,@MANHANVIEN)
end


GO
/****** Object:  StoredProcedure [dbo].[ThongKePhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThongKePhong]
as
begin
select TINHTRANGPHONG,count(*) as [So Luong]  from phong
group by TINHTRANGPHONG
end




GO
/****** Object:  StoredProcedure [dbo].[UpdateDP]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UpdateDP(string madp)
create proc [dbo].[UpdateDP]
@madp varchar(6)
as
begin
update DATPHONG set TrangThaiThanhToan=1, NGAYDI= convert(varchar(10), getdate(), 126) where MADATPHONG=@madp
end

GO
/****** Object:  StoredProcedure [dbo].[updatePhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updatePhong] 
@MAPHONG	varchar(6)         ,
@TENPHONG	nvarchar(50)	   ,
@MALOAIPHONG	varchar(6)	   ,
@GIAPHONG	float			   ,
@DONVITIENTE	varchar(10)	   
AS 
BEGIN
UPDATE PHONG
SET
TENPHONG=@TENPHONG,
MALOAIPHONG=@MALOAIPHONG,
GIAPHONG=@GIAPHONG,
DONVITIENTE=@DONVITIENTE
WHERE MAPHONG=@MAPHONG
END




GO
/****** Object:  StoredProcedure [dbo].[UpdatePhong_bay]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UpdatePhong(string maphong)
create proc [dbo].[UpdatePhong_bay]
@maph varchar(6)
as begin
update  PHONG set TINHTRANGPHONG=1 where MAPHONG=@maph
end

GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LOGIN]
@TENTAIKHOAN VARCHAR(100),
@MATKHAU NVARCHAR(100)
AS
BEGIN
SELECT * FROM TAIKHOAN WHERE TENTAIKHOAN=@TENTAIKHOAN AND PASS=@MATKHAU
END




GO
/****** Object:  StoredProcedure [dbo].[Xoa_LichLamViec]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[Xoa_LichLamViec]
	@ma nchar(6)
	as
	begin
DELETE FROM LICHLAMVIEC	   where MALICHLAMVIEC=@ma
	end


GO
/****** Object:  StoredProcedure [dbo].[XoaChucvu_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaChucvu_thinh]
@Macv nvarchar(6)
as
begin
DELETE FROM CHITIETHOADON FROM CHUCVU INNER JOIN  NHANVIEN ON CHUCVU.MACHUCVU = NHANVIEN.MACHUCVU INNER JOIN HOADON ON NHANVIEN.MANHANVIEN = HOADON.MANHANVIEN INNER JOIN  CHITIETHOADON ON HOADON.MAHD = CHITIETHOADON.MAHD WHERE CHUCVU.MACHUCVU=@Macv
DELETE FROM HOADON FROM  HOADON INNER JOIN  NHANVIEN ON HOADON.MANHANVIEN = NHANVIEN.MANHANVIEN INNER JOIN CHUCVU ON NHANVIEN.MACHUCVU = CHUCVU.MACHUCVU WHERE CHUCVU.MACHUCVU=@Macv
DELETE FROM LICHLAMVIEC FROM LICHLAMVIEC INNER JOIN NHANVIEN ON LICHLAMVIEC.MANHANVIEN = NHANVIEN.MANHANVIEN INNER JOIN  CHUCVU ON NHANVIEN.MACHUCVU = CHUCVU.MACHUCVU where CHUCVU.MACHUCVU=@Macv
DELETE FROM TAIKHOAN FROM TAIKHOAN INNER JOIN CHUCVU ON TAIKHOAN.MACHUCVU = CHUCVU.MACHUCVU WHERE CHUCVU.MACHUCVU=@Macv
DELETE FROM NHANVIEN FROM CHUCVU INNER JOIN  NHANVIEN ON CHUCVU.MACHUCVU = NHANVIEN.MACHUCVU WHERE CHUCVU.MACHUCVU=@Macv
DELETE FROM CHUCVU WHERE MACHUCVU=@Macv
end



GO
/****** Object:  StoredProcedure [dbo].[XoaDatDichVuSoLuong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaDatDichVuSoLuong]
@madp	varchar(6),
@madv	varchar(6),
@SoLuong	int,
@ngayDung	datetime
	
as
begin
delete DatDichVu
where madp=@madp and madv=@madv and ngayDung=@ngayDung
end



GO
/****** Object:  StoredProcedure [dbo].[XoaDatPhongTheoMaPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaDatPhongTheoMaPhong]
@maphong nvarchar(6)
as
begin
delete DATPHONG
where MAPHONG=@maphong
end




GO
/****** Object:  StoredProcedure [dbo].[XoaKhachHang]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaKhachHang] 
@Makh nvarchar(6)
as
begin
begin tran
DELETE FROM CHITIETHOADON FROM  CHITIETHOADON INNER JOIN  DATPHONG ON CHITIETHOADON.MADATPHONG = DATPHONG.MADATPHONG INNER JOIN HOADON ON CHITIETHOADON.MAHD = HOADON.MAHD INNER JOIN  KHACHHANG ON DATPHONG.MAKH = KHACHHANG.MAKH AND HOADON.MAKH = KHACHHANG.MAKH WHERE KHACHHANG.MAKH=@Makh
DELETE FROM HOADON FROM  KHACHHANG INNER JOIN  HOADON ON KHACHHANG.MAKH = HOADON.MAKH WHERE KHACHHANG.MAKH=@Makh
DELETE FROM DatDichVu FROM DatPhong INNER JOIN DatDichVu ON DatPhong.MADATPHONG = DatDichVu.madp INNER JOIN  KHACHHANG ON DatPhong.MAKH = KHACHHANG.MAKH WHERE KHACHHANG.MAKH=@Makh
DELETE FROM DATPHONG FROM  DATPHONG INNER JOIN KHACHHANG ON DATPHONG.MAKH = KHACHHANG.MAKH where KHACHHANG.MAKH=@Makh
DELETE FROM KHACHHANG  where MAKH=@Makh
commit tran
end



GO
/****** Object:  StoredProcedure [dbo].[XoaNhanVien_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaNhanVien_thinh]
@Manv nVarchar(6)
as
begin
DELETE FROM CHITIETHOADON FROM CHITIETHOADON INNER JOIN HOADON ON CHITIETHOADON.MAHD = HOADON.MAHD INNER JOIN  NHANVIEN ON HOADON.MANHANVIEN = NHANVIEN.MANHANVIEN WHERE NHANVIEN.MANHANVIEN=@Manv
DELETE FROM HOADON FROM NHANVIEN INNER JOIN HOADON ON NHANVIEN.MANHANVIEN = HOADON.MANHANVIEN WHERE NHANVIEN.MANHANVIEN=@Manv
DELETE FROM LICHLAMVIEC FROM NHANVIEN INNER JOIN LICHLAMVIEC ON NHANVIEN.MANHANVIEN = LICHLAMVIEC.MANHANVIEN where NHANVIEN.MANHANVIEN=@Manv
DELETE FROM TAIKHOAN WHERE MANHANVIEN=@Manv
DELETE FROM NHANVIEN WHERE MANHANVIEN=@Manv 
end



GO
/****** Object:  StoredProcedure [dbo].[XoaPhongTheoMaDPTuongUng]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaPhongTheoMaDPTuongUng]
@madatphong nvarchar(6),
@maphong nvarchar(6)
as
begin
delete DATPHONG
where MADATPHONG=@madatphong
and MAPHONG=@maphong
update PHONG
set TINHTRANGPHONG=1
where MAPHONG=@maphong
end




GO
/****** Object:  StoredProcedure [dbo].[XoaTK_thinh]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaTK_thinh]
@PASS	nvarchar(20)   ,
@MACHUCVU	varchar(6) ,
@MANHANVIEN	varchar(6)	
as
begin
UPDATE       TAIKHOAN
SET                MACHUCVU =@PASS, PASS =@MACHUCVU
FROM            NHANVIEN INNER JOIN
                         TAIKHOAN ON NHANVIEN.MANHANVIEN = TAIKHOAN.MANHANVIEN 
						 where NHANVIEN.MANHANVIEN=@MANHANVIEN
end


GO
/****** Object:  StoredProcedure [dbo].[XoaToanBoDatPhongTheoMaDatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaToanBoDatPhongTheoMaDatPhong]
@madatphong nvarchar(6)
as
begin
DELETE DatDichVu
WHERE madp=@madatphong
update PHONG
set TINHTRANGPHONG=1
FROM PHONG INNER JOIN DATPHONG
ON PHONG.MAPHONG=DATPHONG.MAPHONG
WHERE DATPHONG.MADATPHONG=@madatphong
delete DATPHONG
where MADATPHONG=@madatphong

end




GO
/****** Object:  Trigger [dbo].[CHITIETHOADONCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[CHITIETHOADONCHANGE]
ON [dbo].[CHITIETHOADON]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET CHITIETHOADON=1
END

GO
/****** Object:  Trigger [dbo].[THANHTOANHOADON]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[THANHTOANHOADON]
ON [dbo].[CHITIETHOADON]
AFTER INSERT
AS
BEGIN

UPDATE DatPhong
SET TrangThaiThanhToan=1
FROM inserted
inner join DatPhong on DatPhong.MADATPHONG=inserted.MADATPHONG
UPDATE PHONG
SET TINHTRANGPHONG=1
FROM inserted
inner join DatPhong on DatPhong.MADATPHONG=inserted.MADATPHONG
inner join PHONG on DatPhong.MAPHONG=PHONG.MAPHONG
if((
select COUNT(*)
from PHONG join DatPhong on DatPhong.MAPHONG=PHONG.MAPHONG where  TrangThaiThanhToan=0 and PHONG.MAPHONG= (select top(1) PHONG.MAPHONG
from inserted
inner join DatPhong on DatPhong.MADATPHONG=inserted.MADATPHONG
inner join PHONG on DatPhong.MAPHONG=PHONG.MAPHONG )))>0
begin
UPDATE PHONG
SET TINHTRANGPHONG=2
FROM inserted
inner join DatPhong on DatPhong.MADATPHONG=inserted.MADATPHONG
inner join PHONG on DatPhong.MAPHONG=PHONG.MAPHONG
end
END

GO
/****** Object:  Trigger [dbo].[CHUCVUCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[CHUCVUCHANGE]
ON [dbo].[CHUCVU]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET CHUCVU=1
END

GO
/****** Object:  Trigger [dbo].[XoaChucVu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[XoaChucVu]
on [dbo].[CHUCVU]
INSTEAD OF delete
AS
BEGIN
DECLARE @MACV NVARCHAR(10)
SELECT @MACV=MACHUCVU FROM deleted
IF((SELECT TOP 1 COUNT(*)FROM CHUCVU WHERE MACHUCVU=@MACV)=0)
BEGIN
PRINT 'KO CO MA CAN XOA'
ROLLBACK TRAN
END
delete TAIKHOAN
WHERE MACHUCVU=@MACV
delete NHANVIEN
WHERE MACHUCVU=@MACV
	begin transaction
	delete CHUCVU
	where MACHUCVU=@MACV
	commit tran
	 
END

GO
/****** Object:  Trigger [dbo].[DATDICHVUCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[DATDICHVUCHANGE]
ON [dbo].[DatDichVu]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET DATDICHVU=1
END

GO
/****** Object:  Trigger [dbo].[ThemDichVuChuaCo]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ThemDichVuChuaCo]

 on [dbo].[DatDichVu]
INSTEAD OF INSERT
as
begin
declare @madp nvarchar(10)
declare @madv nvarchar(10)
declare @ngay datetime
declare @soluong int
declare @giatien float
select @madp=madp,@madv=inserted.madv,@ngay=ngayDung,@soluong=SoLuong,@giatien=DICHVU.GIADV from inserted
inner join DICHVU on DICHVU.MADV=inserted.madv
declare @dem int
select @dem=(SELECT COUNT(*) FROM DatDichVu inner join DatPhong
on DatPhong.MADATPHONG=DatDichVu.madp
where madp=@madp and madv=@madv
and @ngay between NGAYO and NGAYDI)
IF(@dem>0)
	begin
	update DatDichVu
	set SoLuong=SoLuong+@soluong
	where madv=@madv and madp=@madp
	end
else 
	begin
	begin transaction 
	insert into DatDichVu
	values(@madp,@madv,@soluong,@ngay,@giatien)
	commit tran
	
	end
end

GO
/****** Object:  Trigger [dbo].[DATPHONGCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[DATPHONGCHANGE]
ON [dbo].[DatPhong]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET DatPhong=1
END

GO
/****** Object:  Trigger [dbo].[updateTrangThaiPhongKhiDatPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[updateTrangThaiPhongKhiDatPhong]
on [dbo].[DatPhong]
AFTER INSERT
AS
BEGIN
	declare @maphong nvarchar(50)
	DECLARE @NGAYO DATE
	select @NGAYO=NGAYO,@maphong=MAPHONG from inserted
	IF(@NGAYO=CONVERT(date,GETDATE()))
	BEGIN
	UPDATE PHONG
	set TINHTRANGPHONG=3
	from DatPhong
	inner join PHONG on DatPhong.MAPHONG=PHONG.MAPHONG
	where DatPhong.MAPHONG=@maphong
	END
	else if(@NGAYO>CONVERT(date,GETDATE()))
	begin
	UPDATE PHONG
	set TINHTRANGPHONG=2
	from DatPhong
	inner join PHONG on DatPhong.MAPHONG=PHONG.MAPHONG
	where DatPhong.MAPHONG=@maphong and TINHTRANGPHONG=1
	end
	else
	begin
	print 'ngay o khong duoc la ngay qua khu'
	rollback tran
	end
END


GO
/****** Object:  Trigger [dbo].[XOADATPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOADATPHONG]
ON [dbo].[DatPhong]
INSTEAD OF DELETE
AS
BEGIN
DECLARE @MADP NVARCHAR(50)
SELECT @MADP=MADATPHONG FROM deleted
DELETE DatDichVu
WHERE madp=@MADP
DELETE CHITIETHOADON
WHERE MADATPHONG=@MADP
UPDATE PHONG
SET TINHTRANGPHONG=1
FROM DatPhong
INNER JOIN PHONG ON PHONG.MAPHONG=DatPhong.MAPHONG
WHERE DatPhong.MADATPHONG=@MADP
DELETE DatPhong
WHERE MADATPHONG=@MADP
END

GO
/****** Object:  Trigger [dbo].[DICHVUCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[DICHVUCHANGE]
ON [dbo].[DICHVU]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET DICHVU=1
END

GO
/****** Object:  Trigger [dbo].[updatedichvu]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[updatedichvu]
on [dbo].[DICHVU]
AFTER UPDATE
AS
IF UPDATE(GIADV)
BEGIN
DECLARE @GIADV FLOAT,@MADV NVARCHAR(50)
SELECT @GIADV=GIADV,@MADV=MADV FROM inserted
UPDATE DatDichVu
SET giadichvuhientai=@GIADV
WHERE madv=@MADV
END

GO
/****** Object:  Trigger [dbo].[HOADONCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[HOADONCHANGE]
ON [dbo].[HOADON]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET HOADON=1
end

GO
/****** Object:  Trigger [dbo].[KiemTraTrungCMT]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[KiemTraTrungCMT]
on [dbo].[KHACHHANG]
AFTER INSERT
AS
BEGIN
	DECLARE @CMT NVARCHAR(20)
	SELECT @CMT=CHUNGMINHTHU FROM inserted
	DECLARE @DEM INT
	SELECT @DEM=(SELECT COUNT(*) FROM KHACHHANG WHERE CHUNGMINHTHU=@CMT)
	IF(@DEM>1)
	BEGIN
	PRINT 'TRUNG CMT'
	ROLLBACK TRAN
	END
END

GO
/****** Object:  Trigger [dbo].[KHACHHANGCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[KHACHHANGCHANGE]
ON [dbo].[KHACHHANG]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET KHACHHANG=1
end

GO
/****** Object:  Trigger [dbo].[XoaKhachHang1]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[XoaKhachHang1]
on [dbo].[KHACHHANG]
INSTEAD OF delete
as
begin
declare @makh nvarchar(50)
DECLARE @MAHD NVARCHAR(50)

select @makh=MAKH from deleted
SELECT @MAHD=MAHD FROM deleted
INNER JOIN HOADON ON HOADON.MAKH=deleted.MAKH
WHERE HOADON.MAKH=@makh
DELETE CHITIETHOADON
WHERE MAHD=@MAHD
DELETE HOADON
WHERE HOADON.MAKH=@makh
DELETE DatPhong
WHERE MAKH=@makh
DELETE KHACHHANG
WHERE MAKH=@makh
END

GO
/****** Object:  Trigger [dbo].[LICHLAMVIECCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[LICHLAMVIECCHANGE]
ON [dbo].[LICHLAMVIEC]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET LICHLAMVIEC=1
end


GO
/****** Object:  Trigger [dbo].[LOAIPHONGCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[LOAIPHONGCHANGE]
ON [dbo].[LOAIPHONG]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET LOAIPHONG=1
end

GO
/****** Object:  Trigger [dbo].[XOALOAIPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[XOALOAIPHONG]
ON [dbo].[LOAIPHONG]
INSTEAD OF DELETE
AS
BEGIN
DECLARE @MALOAIPHONG NVARCHAR(50)
DECLARE @MAPHONG NVARCHAR(50)
SELECT @MALOAIPHONG=MALOAIPHONG FROM deleted
SELECT @MAPHONG=MAPHONG FROM PHONG WHERE MALOAIPHONG=@MALOAIPHONG
DELETE DatPhong
WHERE MAPHONG=@MAPHONG
DELETE PHONG
WHERE MAPHONG=@MAPHONG
END

GO
/****** Object:  Trigger [dbo].[NHANVIENCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[NHANVIENCHANGE]
ON [dbo].[NHANVIEN]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET NHANVIEN=1
end

GO
/****** Object:  Trigger [dbo].[TransThemNhanVien]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[TransThemNhanVien]
on [dbo].[NHANVIEN]
AFTER INSERT
AS
BEGIN
	declare @ngaysinh datetime
	declare @manv nvarchar(50)
	declare @macv nvarchar(50)
	select @ngaysinh=NGAYSINH,@manv=MANHANVIEN,@macv=MACHUCVU from inserted
	begin tran
	if(YEAR(GETDATE())-YEAR(@ngaysinh)<18)
	begin
	print 'tuoi duoi 18 ko duoc lam'
	rollback tran
	end
	else
	begin
		waitfor delay '0:0:15'
		if(@macv='CV0001')
		begin
		execute ThemTK_thinh 'NHANVIEN',@macv,@manv
		end
		if(@macv='CV0002')
		begin
		execute ThemTK_thinh 'ADMIN',@macv,@manv
		end
	end
COMMIT TRAN
END

GO
/****** Object:  Trigger [dbo].[XoaNHANVIEN]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[XoaNHANVIEN]
on [dbo].[NHANVIEN]
INSTEAD OF DELETE
AS
BEGIN
DECLARE @MANV NVARCHAR(10)
SELECT @MANV=MANHANVIEN FROM  deleted
delete LICHLAMVIEC
WHERE MANHANVIEN=@MANV
DELETE HOADON
WHERE MANHANVIEN=@MANV
DELETE TAIKHOAN
WHERE MANHANVIEN=@MANV
DELETE NHANVIEN
WHERE MANHANVIEN=@MANV
END

GO
/****** Object:  Trigger [dbo].[PHONGCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[PHONGCHANGE]
ON [dbo].[PHONG]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET PHONG=1
end

GO
/****** Object:  Trigger [dbo].[UPDATEGIAPHONG]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UPDATEGIAPHONG]
ON [dbo].[PHONG]
AFTER UPDATE
AS
IF UPDATE(GIAPHONG)
BEGIN
DECLARE @GIATIEN FLOAT,@MAPHONG NVARCHAR(50),@SONGAY INT
SELECT @GIATIEN=GIAPHONG,@MAPHONG=MAPHONG FROM inserted
SELECT @SONGAY=DATEDIFF(DD,CONVERT(DATE,NGAYO),CONVERT(DATE,NGAYDI)) FROM DatPhong
WHERE MAPHONG=@MAPHONG
UPDATE DatPhong
SET GiaPhongHienTai=@GIATIEN,
TRATRUOC=@GIATIEN*30/100*@SONGAY
WHERE MAPHONG=@MAPHONG

END

GO
/****** Object:  Trigger [dbo].[XoaPhong]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[XoaPhong]
on [dbo].[PHONG]
INSTEAD OF DELETE
AS
BEGIN
DECLARE @MAPHONG NVARCHAR(10)
SELECT @MAPHONG=MAPHONG FROM deleted
DELETE DatPhong
WHERE MAPHONG=@MAPHONG
DELETE PHONG
WHERE MAPHONG=@MAPHONG
END

GO
/****** Object:  Trigger [dbo].[TAIKHOANCHANGE]    Script Date: 19/06/2018 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[TAIKHOANCHANGE]
ON [dbo].[TAIKHOAN]
AFTER INSERT,DELETE,UPDATE
AS
BEGIN
UPDATE KiemTraSuThayDoiDuLieu
SET TAIKHOAN=1
end

GO
USE [master]
GO
